<%- model_class = Link -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<%= grid(@links_grid, :show_filters => :no)  do |g|

  g.column :name => 'URL', :attribute => 'actual_url' do |link|
    link.actual_url
  end

  g.column :name => 'Screenname', :attribute => 'username' do |link|
    link.username
  end

  g.column :name => 'Followers', :attribute => 'follower_count'  do |link|
    link.follower_count
  end
  
  g.column :name => 'Klout', :attribute => 'klout_score'  do |link|
    link.klout_score
  end
  
  g.column :name => 'FB Count', :attribute => 'fb_total_count'  do |link|
    link.fb_total_count
  end

  g.column do |link|
    link.viewed? ? 'Yes' : 'No'
  end


end -%>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_link_path,
            :class => 'btn btn-primary' %>
